name: Auto-Deploy PriceTags

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build & Publish ClickOnce
        shell: powershell
        run: |
          msbuild PriceTags\PriceTags.csproj `
            /t:Publish `
            /restore `
            /p:Configuration=Release `
            /p:PublishProfile=ClickOnceProfile `
            /p:ApplicationVersion="1.1.1.${{ github.run_number }}" `

      - name: Deploy to IIS
        shell: powershell
        run: |
          $publish = "PriceTags\bin\Release\net9.0-windows\app.publish\"
          $destination = "C:\inetpub\wwwroot\pricetags\updates"

          # clean destination
          if (Test-Path $destination) {
            Remove-Item $destination -Recurse -Force
          }
          New-Item -ItemType Directory -Path $destination | Out-Null

          # copy ONLY final ClickOnce files
          Copy-Item "$publish\Application Files" $destination -Recurse -Force
          Copy-Item "$publish\*.application" $destination -Force
          Copy-Item "$publish\setup.exe" $destination -Force

          # rename installer
          Rename-Item "$destination\setup.exe" "PriceTags.exe"
