name: Auto-Deploy PriceTags

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build & Publish ClickOnce
        run: |
          # We send the ClickOnce files to bin/app_publish
          # We hide the '200 files' in obj/temp_build
          msbuild PriceTags\PriceTags.csproj -t:publish -restore `
          -p:Configuration=Release `
          -p:PublishProfile="Properties\PublishProfiles\ClickOnceProfile.pubxml" `
          -p:PublishUrl="bin\app_publish\\" `
          -p:PublishDir="bin\trash\\"

      - name: Deploy to IIS
        shell: powershell
        run: |
          $source = "PriceTags\bin\app_publish\*"
          $destination = "C:\inetpub\wwwroot\pricetags\updates"
          
          # 1. Clear everything to be 100% sure we start clean
          if (Test-Path $destination) { Get-ChildItem -Path $destination | Remove-Item -Recurse -Force }
          else { New-Item -ItemType Directory -Path $destination -Force }
          
          # 2. Copy the actual ClickOnce installer files
          Copy-Item -Path $source -Destination $destination -Recurse -Force
          
          # 3. Rename setup.exe
          if (Test-Path "$destination\setup.exe") {
            Move-Item -Path "$destination\setup.exe" -Destination "$destination\PriceTags.exe" -Force
          }
